data/entry/*
data/project/*
data/datacheck.ipynb
result/*
project_list.csv
worker_quality.csv
__pycache__/*
.spyproject/*
plot.ipynb
model/*
!README.md
deprecated/*
run.sh
run_policynet_onserver.sh
logs/*
.DS_Store